{% extends 'base.html' %}
{% load static %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/user/homepage/">
                <img src="{% static 'img/slogo.webp' %}" alt="" width="45" height="35" class="d-inline-block align-text-top">
                Scrapmart
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/user/homepage/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search/">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop/getlisted/">Get Listed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faq/">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactus/">Contact Us</a>
                    </li>
                </ul>
                <a href="/user/logout/" class="btn btn-danger"><span><i class="bi bi-box-arrow-left"></i></span>Logout</a>
            </div>
        </div>
    </nav>

    {% for message in messages %}
    <div class="alert alert-dark alert-dismissible fade show" role="alert">
        <h6>{{message}}</h6>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div class="container" style="margin-top: 30px;">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{% static 'img/avatar.webp' %}" alt="Admin"
                                    class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>{{firstname}} {{lastname}}</h4>
                                    <p class="text-secondary mb-1">Scrapmart User</p>
                                    <a href="/user/profile/edit/" class="btn btn-dark"><span><i class="bi bi-pencil-square"></i></span> Edit Profile</a>
                                    <a href="/user/logout/" class="btn btn-danger"><span><i class="bi bi-box-arrow-left"></i></span> Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{firstname}} {{lastname}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Username</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{username}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{email}}
                                </div>
                            </div>
                            <hr>
                            {% for data in datas %}
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Date of Birth</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{data.dob}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mobile</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{data.phone}}
                                </div>
                            </div>
                            {% endfor %}
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Date Joined</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{datejoined}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="container" style="margin-top: 120px;">
        <p class="float-end"></p>
        <p style="text-align: center;">© 2020–2021 Scrapmart, Inc.</p>
    </footer>
{% endblock %}
    <!-- Option 1: Bootstrap Bundle with Popper -->
