{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/resetpassword.css' %}">
{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{% static 'img/slogo.webp' %}" alt="" width="45" height="35" class="d-inline-block align-text-top">
                Scrapmart
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faq/">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactus/">Contact Us</a>
                    </li>
                </ul>
                <a href="/user/auth/login/" class="btn btn-primary">Login</a>
            </div>
        </div>
    </nav>
    <div class="con">
        <div class="card">
            <form action="/user/auth/reset/" method="POST">
                {% csrf_token %}
                <div class="text-center">
                    {% for message in messages %}
                    <div class="alert alert-dark alert-dismissible fade show" role="alert">
                        <h6>{{message}}</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    <div class="text-center"> <img src="{% static 'img/passreset.webp' %}" width="100"></div>
                    <h3>Recover Account</h3>
                    
                </div>
                <div class="form mt-3">
                    <div class="inputbox"> <input type="text" name="username" class="form-control" placeholder="Username" maxlength = "50" required> </div>
                    <div class="inputbox"> <input type="password" name="password" class="form-control" placeholder="New Password" maxlength = "200" required>
                    </div>
                    <div class="inputbox" style="border: 2px solid #bdc3c7; ">
                        <select name="securityquestion" class="form-select form-select-sm"
                            aria-label=".form-select-sm example">
                            <option value="securityquestion" selected>Security Question</option>
                            <option value="nickname">Nickname</option>
                            <option value="school">School Name</option>
                            <option value="pet">Pet name</option>
                            <option value="bestfriend">Best Friend's name</option>
                        </select>
                    </div>
                    <div class="inputbox"> <input type="text" name="securityanswer" class="form-control" placeholder="Security Answer" maxlength = "100" required> </div>
                </div>
                <div class="mt-4 text-center">
                    <input type="submit" class="btn btn-dark" value="Reset Password">
                </div>
            </form>
        </div>
    </div>
    <footer class="container">
        <p class="float-end"></p>
        <p style="text-align: center;color:white">© 2020–2021 Scrapmart, Inc.</p>
    </footer>
    {% endblock %} 