{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/user/homepage/">
            <img src="{% static 'img/slogo.png' %}" alt="" width="45" height="35" class="d-inline-block align-text-top">
            Scrapmart
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/user/homepage/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search/">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop/getlisted/">Get Listed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq/">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactus/">Contact Us</a>
                </li>
            </ul>
            <a href="/user/logout/" class="btn btn-danger">Logout</a>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 30px;">
    <h2 style="text-align: center;">Shop Profile</h2>
    <div class="main-body">
        {% for result in results %}
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{result.shopimage.url}}" alt="Admin" class="img-fluid rounded" height="250"
                                width="300">
                            <div class="mt-3">
                                <h4>{{result.shopname}}</h4>
                                <p class="text-secondary mb-1">Scrapmart Dealer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Shop Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{result.shopname}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{result.shopaddress}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Contact Number</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{result.shopcontact}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Locality</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{result.locality}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">City</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{result.city}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endfor %}

<footer class="container" style="margin-top: 120px;">
    <p class="float-end"></p>
    <p style="text-align: center;">© 2020–2021 Scrapmart, Inc.</p>
</footer>
{% endblock %}