{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/usermanage.css' %}">
{% endblock %}
{% block content %}
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin/homepage/">
                <img src="{% static 'img/slogo.webp' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Scrapmart
            </a>
            <a href="/admin/logout/" class="btn btn-danger"><span><i class="bi bi-box-arrow-left"></i></span>Logout</a>
        </div>
    </nav>
    {% for message in messages %}
    <div class="alert alert-dark alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <h3 style="text-align: center; color:white" class="mt-3">Manage User Database</h3>
    <div class="container con mt-3">
        <div class="container">
            <form action="/admin/usersearch/" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        <input type="text" placeholder="Enter Username" name="username" class="form-control" required>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-warning btn-block">Fetch Information</button>
                    </div>
                    <div class="col-md-3">
                        
                    </div>
                </div>
            </form>
        </div>
        {% if res %}
        <div class="card mt-3">
            <div class="row">
                <div class="col-4 mt-4">
                    <img src="{% static 'img/avatar.webp' %}" class="img-fluid rounded" width="250" style="margin-left: 40px;" alt="">
                </div>
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>User Information</th>
                                <th></th>
                            </tr>
                        </thead>
                        {% for info in authinfo %}
                        
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>{{info.first_name}} {{info.last_name}}</td>
                            </tr>
                            <tr>
                                <td>Username:</td>
                                <td>{{info.username}}</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>{{info.email}}</td>
                            </tr>
                            <tr>
                                <td>User ID:</td>
                                <td>#{{info.id}}</td>
                            </tr>
                            {% for data in otherinfo %}
                            <tr>
                                <td>Phone:</td>
                                <td>{{data.phone}}</td>
                            </tr>
                            <tr>
                                <td>Date of Birth:</td>
                                <td>{{data.dob}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>Actions:</td>
                                <td>
                                    {% if dis %}
                                    <a href="/admin/userenable/{{info.id}}" class="btn btn-primary">Enable Account</a>
                                    {% else %}
                                    <a href="/admin/userdisable/{{info.id}}" class="btn btn-secondary">Disable Account</a>
                                    {% endif %}
                                    <a href="/admin/userdelete/{{info.id}}" class="btn btn-danger">Delete account</a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
        {% if des %}
        <h3 style="text-align: center; color:white">No user Found!</h3>
        {% endif %}


    </div>

    <footer class="container" style="margin-top: 20px;">
        <p class="float-end"></p>
        <p style="text-align: center;color:white">© 2020–2021 Scrapmart, Inc.</p>
    </footer>
{% endblock %}