{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Hello this is Admin login page</h1>

<form action="/authenticateadmin/" method="POST">
    {% csrf_token %}
    <h5 style="color: white; text-align:center">Admin Login</h5>
    <input type="text" style="margin-bottom: 15px" class="form-control" placeholder="username" name="username" required>
    <input type="password" class="form-control" placeholder="password" name="password" required>
    <input type="submit" style="display: block; margin: auto; margin-top: 10px" class="btn btn-success" name="login" value="Login" required>
</form>
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endblock %}