{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>This is edit locations page</h1>
<div style="display:block; margin:auto; width: 530px" class="container">
    <form method="POST" action="/addlocation/">
        {% csrf_token %}
        <h2 style="text-align: center;">Add Location</h2>
        <input type="text" class="form-control" placeholder="City" name="city" style="width: 200px; display:inline; margin:auto">
        <input type="text" class="form-control" placeholder="Locality" name="locality" style="width: 200px; display:inline; margin:auto">
        <input type="submit" value="add" name="" class="btn btn-success" style="display: inline">
    </form>
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
</div>

<div class="container" style="width: 100%; display:block; margin:auto; margin-top: 80px">
    <table style="width: 70%">
        <tr>
            <th>Cities</th>
        </tr>
        
        <tr>
            {% for city in cities %}
            <td>{{city.name}}</td>
            <td><a href="/deletelocation/{{data.id}}/" class="btn btn-danger">Delete</a></td>
            {% endfor %}

        </tr>
        <tr>
            <th>Localities</th>
        </tr>
        
        <tr>
            {% for locality in localities %}
            <td>{{locality.name}}</td>
            <td><a href="/deletelocation/{{data.id}}/" class="btn btn-danger">Delete</a></td>
            {% endfor %}
        </tr>
    </table>
</div>
{% endblock %}