{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Password Reset Page</h1>
<form action="/reset/" method="POST">
    {% csrf_token %}
    <h5 style="color: white; text-align:center">User Login</h5>
    <input type="text" style="margin-bottom: 15px" class="form-control" placeholder="Enter Username" name="username" required>
    <input type="password" class="form-control" placeholder="Enter new Password" name="password" required>
    Security Question:
    <select name="securityquestion">
        <option value="nickname">Nickname</option>
        <option value="school">School Name</option>
        <option value="pet">Pet name</option>
        <option value="bestfriend">Best Friend's name</option>
    </select>
    <input type="text" class="form-control" placeholder="Security answer" name="securityanswer" required>
    <input type="submit" style="display: block; margin: auto; margin-top: 10px" class="btn btn-success" value="Change Password" required>
</form>
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endblock %}